/* Estilos para el filtro */
.filtro {
  font-family: Arial, sans-serif; /* Fuente */
  background-color: #f2f2f2; /* Color de fondo */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 20px; /* Margen inferior */
}

.filtro label {
  font-weight: bold; /* Texto en negrita */
  margin-right: 10px; /* Margen derecho entre el texto y el input */
}

.filtro input[type="text"] {
  padding: 5px; /* Espaciado interno del input */
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 3px; /* Bordes redondeados */
  width: 200px; /* Ancho del input */
}

/* Estilo inicial para las listas de recetas y comida */
.accordion-content {
  display: block;
}

/* Estilo para mostrar la lista cuando la clase active está presente */
.accordion-content.active {
  display: none;
}

.container .comida {
  margin: 20px 0;
}
.container-listas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

h2 {
  font-weight: 1000;
  font-size: larger;
}

h3 {
  font-weight: 1000;
  font-size: medium;
}

/* Estilos para los títulos de Recetas y Comida */
.accordion-title::after {
  content: "\25BC"; /* Unicode para la flecha hacia abajo */
  display: inline-block;
  margin-left: 5px; /* Espacio entre el texto y la flecha */
  transition: transform 0.3s; /* Transición para el giro de la flecha */
}

.accordion-title.active::after {
  transform: rotate(
    180deg
  ); /* Girar la flecha hacia arriba cuando la lista esté activa */
}


#btnAlana::after,
#btnYabel::after {
  content: \1F4F1;
}
/* ------------------------------------------- */

.categoria-container ul li {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(218, 218, 218);
}

#lista-recetas li {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(218, 218, 218);
}

.lista-compra {
  min-width: 180px;
}

.buttons,
.buttonsDiv {
  min-width: 55px;
}

.buttons button,
.buttonsDiv button {
  margin-right: 3px;
}
.cantidad {
  text-align: center;
}

li {
  margin-bottom: 5px;
}

th {
  font-weight: bold;
}
tr td,
tr div {
  border: 1px solid rgb(218, 218, 218);
}

/* ------------------------------------------- */

/* Estilos para los botones */
button {
  padding: 4px 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.btn-quitar,
.btn-decrementar {
  background-color: #af4c4c;
}

.btn-quitar:hover,
.btn-decrementar:hover {
  background-color: #a04545;
}

#resetListaCompra {
  background-color: #a7a7a7;
}

#resetListaCompra:hover {
  background-color: #747474;
}

#btnDescargar {
  background-color: #4c6faf;
}

#btnDescargar:hover {
  background-color: #455da0;

}
/* Estilos para el texto */
p,
span,
label,
h2,
h3 {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Estilos específicos para los títulos */
h2,
h3 {
  font-weight: bold;
}